h3{
    margin: 0%;
    color: orange;
}
.container{
    display: flex;
    justify-content: center;
    /* gap: 50px; */
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}
p{
 background: rgb(12, 12, 103);
 color: lawngreen;
 padding: 10px 10px;
 border-radius: 8px;
 width: 200px;
} 
.item{
    --color: rgb(22, 22, 165);
    background-color: var(--color);
    width: 185px;
    border-radius: 10px;
    box-shadow:
     #3c404d 0px 1px 2px 0px,
     #3c404d 0px 1px 2px 0px;
     padding: 10px 5px;
     position: relative;
     cursor: pointer;
     width: 200px;
     height: 390px;
}
.item::after{
    content:" ";
    position: absolute;
    top: 10px;
    left: 0;
    height: 80%;
    z-index: 43;
    box-sizing: border-box;
    border-style: solid;
    border-color: 
    transparent
    transparent transparent var(--color);
    border-width: 40px 40px 40px 40px;
    filter: drop-shadow(5px 0 4px #00000094);
    transition: filter  .5s;

}
/* .item:nth-child(2){
 
    --color: indigo;
}
.item:nth-child(3){
  
      --color: #119530;
} */
.layer{
    background-color: #43199e;
    border: 1px solid #fff;
    border-radius: inherit;
    padding:20px;
    box-shadow: #00000012 0px 1px 2px,
    #00000012 0px 1px 4px, #00000012
    0px 4px;
    position: relative;
    left: 12px;
    transition: 1s;
    opacity: 0;
    width: 220px;
   
}
.layer:hover{
    opacity: 1;
}
.item:hover:after{
     filter: drop-shadow(5px 0 4px #00000094);

}
.item:hover .layer{
    left: 50px;
}


